/* General Styles */
body {
    background-color: #1e1e1e;
    color: #eaeaea;
}

h2#tableTitle {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #eaeaea; /* Light gray for contrast */
    font-weight: bold;
    border-bottom: 2px solid #555; /* Darker border for dark theme */
    padding-bottom: 10px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adjusted shadow for dark theme */
    overflow: hidden;
    background-color: #1b2a3a;
}

table, th, td {
    border: 1px solid #2e3f5a;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #23344e;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

th:hover {
    background-color: #2c4565; /* Slightly lighter gray for header hover */
}

tr:nth-child(even) {
    background-color: #182238; /* Darker alternating row color */
}

tr:hover {
    background-color: #253b58; /* Hover effect for rows in dark theme */
}

/* Button Styles */
.back-button {
    display: inline-block;
    width: 100px; /* Adjusted width to match dropdowns */
    height: 38px; /* Adjusted height (accounting for border) to match dropdowns */
    line-height: 38px; /* Vertically aligns the text */
    margin: 10px 10px 10px 0; /* Consistent spacing, removed right margin for even spacing */
    padding: 0; /* Removed padding to align size with dropdown */
    text-align: center;
    text-decoration: none;
    background-color: #23344e;
    border: 1px solid #2e3f5a;
    color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #2c4565;
}

/* Dropdown Styles */
select {
    width: 100px;
    height: 38px; /* Consistent height (accounting for border) */
    background-color: #23344e;
    color: #eaeaea;
    border: 1px solid #2e3f5a;
    padding: 0 10px; /* Padding adjusted for consistency */
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    margin-right: 10px; /* Added right margin for even spacing */
}

select:hover {
    background-color: #2c4565;
}

/* If you want to style the dropdown arrow (works in webkit browsers) */
select::-ms-expand {
    display: none; /* For IE/Edge */
}

select::-webkit-inner-spin-button, 
select::-webkit-outer-spin-button {
    display: none; /* For WebKit browsers */
}

select::-webkit-scrollbar {
    width: 12px; /* Adjust scrollbar width */
}

select::-webkit-scrollbar-track {
    background-color: #23344e; /* Track color */
}

select::-webkit-scrollbar-thumb {
    background-color: #2e3f5a; /* Scroll thumb color */
}